@page "/"

<h1>Login input by password mangers problem</h1>

<p>
    1. Go to <a href="/register">register</a>, create account, store it in dropbox password manager.
</p>
<p>
    2. Go to <a href="/login">login</a> page, let the dropbox password manager fill in username and password and try to log in.
</p>
